html, body {
  margin: 0;
  /* overflow: hidden; */
}

canvas {
  margin: 0;
  box-sizing: border-box;
}

.body{
    position: absolute;
    top: 0;
}

.head{
	font-family: sans-serif;
	font-size: 60pt;
	color: lightpink;
	}
		
body{
	background: black;
	color:  white;
	}
			
a{
	color: lightgoldenrodyellow;
	text-decoration: none;
	}
		
a:hover{
	color: orange;
	}


.body h1{
    color: lightpink;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.top{
	position: absolute;
	}
